form {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ffe30e;
    border-radius: 5px;
}
input[type="checkbox"] {
    margin-right: 5px;
}
button {
    background-color: #f31e1e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}